.block-k3-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.block-k3-block-k {
  gap: 185px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  padding-top: 8rem;
  padding-left: 15rem;
  padding-right: 15rem;
  padding-bottom: 8rem;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.block-k3-content {
  gap: 10%;
  width: 100%;
  height: 758px;
  display: flex;
  z-index: 100;
  flex-wrap: wrap;
  align-self: center;
  align-items: center;
  justify-content: center;
}
.block-k3-contentleft {
  gap: 76px;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.block-k3-frame18 {
  gap: 10px;
  display: flex;
  padding: 1px 0;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.block-k3-rectangle3 {
  width: 100%;
  height: 86px;
  align-self: stretch;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px 0;
}
.block-k3-text {
  top: 26.5px;
  left: 24px;
  color: var(--dl-color-default-gray1);
  width: 364px;
  height: auto;
  z-index: 1;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: "Noto Sans TC";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: 3.6px;
  text-decoration: none;
}
.block-k3-text01 {
  color: var(--dl-color-default-gray1);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: "Noto Sans TC";
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  letter-spacing: 3.84px;
  text-decoration: none;
}
.block-k3-text02 {
  color: var(--dl-color-default-gray1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Noto Sans TC";
  font-weight: 400;
  line-height: 160%;
  font-stretch: normal;
  letter-spacing: 1.92px;
  text-decoration: none;
}
.block-k3-button {
  height: 60px;
  display: flex;
  padding: 12px 20px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-default-green1);
}
.block-k3-btntext {
  gap: 7px;
  display: flex;
  padding: 3px 4px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.block-k3-text10 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 18px;
  font-style: Bold;
  text-align: left;
  font-family: "Noto Sans TC";
  font-weight: 700;
  line-height: 160%;
  font-stretch: normal;
  letter-spacing: 2px;
  text-decoration: none;
}
.block-k3-iconarrow {
  width: 18px;
  height: 18px;
}
.block-k3-contentright {
  gap: 10px;
  flex: 1;
  width: 50%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-self: flex-start;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0 200px 0 0;
  flex-direction: column;
  justify-content: center;
}
.block-k3-img1 {
  flex: 1;
  width: 100%;
  height: 100%;
  align-self: stretch;
}
@media(max-width: 1440px) {
  .block-k3-block-k {
    height: auto;
    padding: 6rem;
    padding-top: 8REM;
    padding-left: 8REM;
    padding-right: 8REM;
    padding-bottom: 8REM;
  }
  .block-k3-content {
    height: auto;
  }
  .block-k3-contentleft {
    width: 514px;
    height: auto;
  }
  .block-k3-text {
    color: var(--dl-color-default-gray1);
    font-size: 24px;
    font-family: Noto Sans TC;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
    text-decoration: none;
  }
  .block-k3-text01 {
    color: var(--dl-color-default-gray1);
  }
  .block-k3-text02 {
    color: var(--dl-color-default-gray1);
    font-size: 16px;
    font-family: Noto Sans TC;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 1.92px;
    text-decoration: none;
  }
  .block-k3-contentright {
    align-self: center;
  }
  .block-k3-img1 {
    flex: initial;
    height: 792px;
  }
}
@media(max-width: 1024px) {
  .block-k3-block-k {
    width: 100%;
    height: auto;
    padding-top: 6REM;
    padding-left: 6REM;
    padding-right: 6REM;
    padding-bottom: 6REM;
  }
  .block-k3-content {
    gap: 100px;
    width: 100%;
  }
  .block-k3-contentleft {
    width: 100%;
    align-self: flex-start;
  }
  .block-k3-rectangle3 {
    border-width: 0px;
  }
  .block-k3-text01 {
    color: var(--dl-color-default-gray1);
  }
  .block-k3-text02 {
    font-size: 24px;
  }
  .block-k3-contentright {
    width: 100%;
    height: auto;
  }
  .block-k3-img1 {
    width: 100%;
    height: 100%;
  }
}
@media(max-width: 768px) {
  .block-k3-block-k {
    padding-left: 60px;
    padding-right: 60px;
  }
  .block-k3-content {
    gap: 100PX;
    width: 100%;
    flex-wrap: wrap;
  }
  .block-k3-contentleft {
    width: 100%;
  }
  .block-k3-rectangle3 {
    align-self: flex-start;
  }
  .block-k3-text01 {
    color: var(--dl-color-default-gray1);
  }
  .block-k3-contentright {
    width: 100%;
  }
  .block-k3-img1 {
    width: auto;
    align-self: stretch;
  }
}
@media(max-width: 425px) {
  .block-k3-block-k {
    align-items: flex-start;
    padding-left: 2REM;
    padding-right: 2REM;
  }
  .block-k3-content {
    gap: 100PX;
    width: 100%;
    align-items: flex-start;
  }
  .block-k3-contentleft {
    width: 100%;
  }
  .block-k3-text {
    top: 0px;
    left: 0px;
    color: var(--dl-color-default-gray1);
    bottom: 0px;
    height: 35px;
    margin: auto;
    font-size: 18px;
    font-family: Noto Sans TC;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
    text-decoration: none;
  }
  .block-k3-text01 {
    width: auto;
    font-size: 24px;
  }
  .block-k3-text02 {
    color: var(--dl-color-default-gray1);
    font-size: 16px;
    font-family: Noto Sans TC;
    font-weight: 400;
    line-height: 160%;
    letter-spacing: 1.92px;
    text-decoration: none;
  }
  .block-k3-contentright {
    gap: 0;
    width: 100%;
    height: auto;
    border-radius: 0px;
    justify-content: flex-start;
  }
  .block-k3-img1 {
    flex: 1.3;
  }
}
@media(max-width: 375px) {
  .block-k3-contentleft {
    width: 100%;
  }
  .block-k3-text {
    left: 0px;
    width: auto;
  }
  .block-k3-text01 {
    width: 100%;
  }
  .block-k3-img1 {
    width: 100%;
    height: auto;
  }
}
